.nav-img {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

.loginDiv {
    width: 75%;
    /* background-color: rgb(184, 162, 162); */
    justify-content: center;
    align-items: center;
}

.logTitle {
    color: rgb(8, 74, 160);
    font-size: 25px;
    margin-top: 150px;
    text-align: left;
}

.inp-field input {
    height: 60px;
    width: 280px;
    border: none;
    border: #1b5db3 3px solid;
    border-radius: 18px;
    margin-bottom: 6%;
    align-items: center;
    padding-left: 10px;
}

.uae {
    height: 55px;
    width: 280px;
    border: none;
    border: #8d9196 3px solid;
    border-radius: 16px;
    margin-bottom: 2%;
    margin-top: 5%;
}

.uaeFinger {
    height: 29px;
    width: 26px;
}

.uaeLoginLink {
    color: #5d6062;
    font-size: 12px;
    margin-top: 10px;
}

.eye {
    height: 45px;
    width: 45px;
    z-index: 1;
    margin-left: -9%;
    margin-top: 1%;
}

.passLab {
    text-align: left;
}

.passLink {
    color: #106ce6;
}

.logBtn {
    background-color: #1b5db3;
    text-align: center;
    color: white;
    height: 55px;
    width: 250px;
    border: none;
    border-radius: 10px;
    margin-top: 5%;
    text-align: center;
}

.logBtn a {
    color: white;
    font-weight: 500;
}

::placeholder {
    color: #073777;
}

@media only screen and (min-device-width: 240px) and (max-device-width: 320px) {
    .nav-img {
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: -1;
    }

    .loginDiv {
        width: 75%;
        /* background-color: rgb(184, 162, 162); */
        justify-content: center;
        align-items: center;
    }

    .logTitle {
        color: rgb(8, 74, 160);
        font-size: 25px;
        margin-top: 150px;
        text-align: left;
        margin-bottom: 20px;
    }

    .inp-field input {
        height: 25%;
        width: 100%;
        border: none;
        border: #1b5db3 3px solid;
        border-radius: 14px;
        margin-bottom: 6%;
        align-items: center;
    }

    .uae {
        height: 25%;
        width: 100%;
        border: none;
        border: #8d9196 3px solid;
        border-radius: 16px;
        margin-bottom: 2%;
        margin-top: 5%;
        padding: 7% 0% 5% 15%;
    }

    .uaeFinger {
        height: 29px;
        width: 26px;
    }

    .uaeLoginLink {
        color: #5d6062;
        font-size: 12px;
        /* padding:80px 20px 0px 20px; */
        /* margin-left: 14%; */
    }

    .eye {
        height: 20px;
        width: 20px;
        z-index: 1;
        position: absolute;
        margin-top: 6%;
        margin-left: -44px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .passLink {
        color: #106ce6;
    }

    .logBtn {
        background-color: #1b5db3;
        text-align: center;
        color: white;
        height: 18%;
        width: 60%;
        border: none;
        border-radius: 10px;
        margin: 16% 0% 4% 20%;
    }

    .logBtn a {
        color: white;
        font-weight: 500;
    }

    .log-forget {
        font-size: 13px;
        text-decoration: underline;
        color: #606264;
        margin: 16% 0% 4% 24%;
    }

    ::placeholder {
        color: #073777;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 482px) {
    .nav-img {
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: -1;
    }

    .loginDiv {
        width: 70%;
        /* background-color: rgb(184, 162, 162); */
        justify-content: center;
        align-items: center;
    }

    .logTitle {
        color: rgb(8, 74, 160);
        font-size: 25px;
        margin-top: 100px;
        text-align: left;
        margin-bottom: 20px;
    }

    .inp-field input {
        height: 22%;
        width: 100%;
        border: none;
        border: #1b5db3 3px solid;
        border-radius: 14px;
        margin-bottom: 6%;
        align-items: center;
    }

    .uae {
        height: 22%;
        width: 100%;
        border: none;
        border: #8d9196 3px solid;
        border-radius: 16px;
        margin-bottom: 6%;
        margin-top: 5%;
        padding: 5% 0% 5% 19%;
    }

    .uaeFinger {
        height: 29px;
        width: 26px;
    }

    .uaeLoginLink {
        color: #5d6062;
        font-size: 14px;
        /* padding:80px 20px 0px 20px; */
        /* margin-left: 14%; */
    }

    .eye {
        height: 20px;
        width: 20px;
        z-index: 1;
        position: absolute;
        margin-top: 6%;
        margin-left: -44px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .passLink {
        color: #106ce6;
    }

    .logBtn {
        background-color: #1b5db3;
        text-align: center;
        color: white;
        height: 18%;
        width: 60%;
        border: none;
        border-radius: 10px;
        margin: 16% 0% 4% 22%;
    }

    .logBtn a {
        color: white;
        font-weight: 500;
    }

    .log-forget {
        font-size: 14px;
        text-decoration: underline;
        color: #606264;
        margin: 0% 0% 4% 32%;
    }

    ::placeholder {
        color: #073777;
    }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 575px) {
    .nav-img {
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: -1;
    }

    .loginDiv {
        width: 65%;
        /* background-color: rgb(184, 162, 162); */
        justify-content: center;
        align-items: center;
    }

    .logTitle {
        color: rgb(8, 74, 160);
        font-size: 28px;
        margin-top: 100px;
        text-align: left;
        margin-bottom: 20px;
    }

    .inp-field input {
        height: 22%;
        width: 100%;
        border: none;
        border: #1b5db3 3px solid;
        border-radius: 14px;
        margin-bottom: 6%;
        align-items: center;
    }

    .uae {
        height: 22%;
        width: 100%;
        border: none;
        border: #8d9196 3px solid;
        border-radius: 16px;
        margin-bottom: 6%;
        margin-top: 5%;
        padding: 5% 0% 5% 25%;
    }

    .uaeFinger {
        height: 29px;
        width: 26px;
    }

    .uaeLoginLink {
        color: #5d6062;
        font-size: 14px;
        /* padding:80px 20px 0px 20px; */
        /* margin-left: 14%; */
    }

    .eye {
        height: 25px;
        width: 25px;
        z-index: 1;
        position: absolute;
        margin-top: 5%;
        margin-left: -60px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .passLink {
        color: #106ce6;
    }

    .logBtn {
        background-color: #1b5db3;
        text-align: center;
        color: white;
        height: 18%;
        width: 60%;
        border: none;
        border-radius: 10px;
        margin: 10% 0% 4% 21%;
    }

    .logBtn a {
        color: white;
        font-weight: 500;
    }

    .log-forget {
        font-size: 14px;
        text-decoration: underline;
        color: #606264;
        margin: 0% 0% 4% 36%;
    }

    ::placeholder {
        color: #073777;
    }
}

@media only screen and (min-device-width: 575px) and (max-device-width: 980px) {
    .nav-img {
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: -1;
    }

    .loginDiv {
        width: 55%;
        justify-content: center;
        align-items: center;
    }

    .logTitle {
        color: rgb(8, 74, 160);
        font-size: 28px;
        margin-top: 100px;
        text-align: left;
        margin-bottom: 20px;
    }

    .inp-field input {
        height: 20%;
        width: 100%;
        border: none;
        border: #1b5db3 3px solid;
        border-radius: 14px;
        margin-bottom: 6%;
        align-items: center;
    }

    .uae {
        height: 20%;
        width: 100%;
        border: none;
        border: #8d9196 3px solid;
        border-radius: 16px;
        margin-bottom: 6%;
        margin-top: 5%;
        padding: 5% 0% 5% 28%;
    }

    .uaeFinger {
        height: 29px;
        width: 26px;
    }

    .uaeLoginLink {
        color: #5d6062;
        font-size: 17px;
    }

    .eye {
        height: 25px;
        width: 25px;
        z-index: 1;
        position: absolute;
        margin-top: 3%;
        margin-left: -70px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .passLink {
        color: #106ce6;
    }

    .logBtn {
        background-color: #1b5db3;
        text-align: center;
        color: white;
        height: 16%;
        width: 58%;
        border: none;
        border-radius: 10px;
        margin: 10% 0% 4% 24%;
    }

    .logBtn a {
        color: white;
        font-weight: 500;
    }

    .log-forget {
        font-size: 16px;
        text-decoration: underline;
        color: #606264;
        margin: 0% 0% 4% 38%;
    }

    ::placeholder {
        color: #073777;
    }
}
