/***** base  *****/

.arrow1 {
    height: 21px;
    border-radius: 10px;
    font-size: 34px;
    font-weight: 600;
    color: #002dc2de;
}

.arrow-left {
    width: 17px;
    height: 17px;
    align-items: center;
    justify-content: center;
    margin-top: -5%;
    margin-left: -20% !important;
}

.verifForm {
    padding: 15%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.entVer {
    color: rgb(13, 13, 128);
    font-size: 23px;
    padding-top: 50px;
}

.verNotif {
    font-size: 13px;
}

.verBtn {
    background-color: #106ce6;
    text-align: center;
    color: white;
    height: 60px;
    width: 200px;
}

.nav-img {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

/* page 10 start  */
.confForm {
    padding: 0% 30% 0% 20%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.confEmail {
    color: rgb(13, 13, 128);
    font-size: 25px;
    padding-top: 40px;
    text-align: center;
}

.confImage {
    width: 60%;

    margin-top: 30px;
    object-fit: cover;
    margin-bottom: 7%;
}

.confText {
    color: #000103;
    font-size: 14px;
    text-align: center;
}

.confLink {
    color: #106ce6;
}

.confBtn {
    background-color: #1b5db3;
    text-align: center;
    color: white;
    height: 55px;
    width: 250px;
    border: none;
    border-radius: 10px;
    margin-top: 5%;
    text-align: center;
}

.confBtn a {
    color: white;
    font-weight: 500;
}

/* page 10 end  */

/* page11 start */
.passForm {
    padding: 0% 10% 0% 10%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.passTitle {
    color: rgb(13, 13, 128);
    font-size: 21px;
    padding-top: 40px;
    text-align: center;
}

.passText {
    color: #000103;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    margin-top: 4%;
}

.password {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0% 5% 0% 5%;
    margin-left: 45%;
}

.password input {
    height: 60px;
    width: 280px;
    border: none;
    border: #1b5db3 3px solid;
    border-radius: 18px;
    margin-bottom: 6%;
}

.eye {
    height: 45px;
    width: 45px;
    z-index: 1;
    margin-left: -9%;
    margin-top: 1%;
}

.passLab {
    text-align: left;
}

.passLink {
    color: #106ce6;
}

.passBtn {
    background-color: #1b5db3;
    text-align: center;
    color: white;
    height: 55px;
    width: 250px;
    border: none;
    border-radius: 10px;
    margin-top: 5%;
    text-align: center;
}

.passBtn a {
    color: white;
    font-weight: 500;
}

/* page11 start */

/* page 12 start  */
.welForm {
    padding: 0% 20% 0% 20%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.welEmail {
    color: rgb(13, 13, 128);
    font-size: 25px;
    padding-top: 40px;
    text-align: center;
}

.welText {
    color: #000103;
    font-size: 14px;
    text-align: center;
}

.welLink {
    color: #106ce6;
}

.welBtn {
    background-color: #1b5db3;
    text-align: center;
    color: white;
    height: 55px;
    width: 250px;
    border: none;
    border-radius: 10px;
    margin-top: 5%;
    text-align: center;
}

.welBtn a {
    color: white;
    font-weight: 500;
}

/* page 12 end  */

/***** End base  *****/

/* new  */

@media only screen and (min-device-width: 240px) and (max-device-width: 320px) {
    .arrow1 {
        border-radius: 10px;
        font-size: 33px;
        font-weight: 600;
        color: #1b5db3;
        position: absolute;
        left: 10%;
        top: 100px;
    }

    .arrow-left {
        width: 17px;
        height: 17px;
        align-items: center;
        justify-content: center;
        margin-top: -5%;
        margin-left: -20% !important;
    }
    .arrow2 {
        border-radius: 10px;
        font-size: 40px;
        color: #002dc2de;
        position: absolute;
        left: 82%;
        top: 10%;
    }

    .round span {
        height: 22px;
        width: 22px;
        border: #9ea0a6 1px solid;
        border-radius: 50%;
        border: none;
        background-color: #d0d3dd;
        display: inline-flex;
        margin-left: 3px;
    }

    .round {
        margin-top: 112px;
        margin-left: 20%;
    }

    .verifForm {
        padding: 0% 6% 0% 6%;
        align-items: center;
        justify-content: center;
        text-align: left;
    }

    .entVer {
        color: rgb(13, 13, 128);
        font-size: 17px;
        padding-top: 50px;
    }

    .verNotif {
        color: #9ea0a6;
        font-size: 11px;
    }

    .verNums {
        display: inline-flex;
        margin-top: 10%;
        margin-bottom: 20%;
    }

    .vNum {
        height: 40px;
        width: 40px;
        border: none;
        background-color: #f0f2f8fb;
    }

    ::placeholder {
        color: #404142;
        border-radius: 50%;
        font-size: 30px;
        text-align: center;
    }

    .verBtn {
        width: 180px;
        border: none;
        border-radius: 10px;
        height: 40px;
    }

    .verBtn a {
        text-decoration: none;
        color: white;
        font-size: 12px;
    }

    .otpRes {
        color: #404142;
        font-weight: 700;
    }

    .otpNotif {
        font-size: 12px;
        padding: 5% 5% 0% 11%;
    }

    .nav-img {
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: -1;
    }
    /* Page7 */

    /* /////////////////////////////////////////////////////////////////////////////////////////// */

    /* congratulations */

    .congrates-title {
        color: #13136e;
        font-size: 23px;
        font-weight: 900;
        text-align: center;
    }

    .congrates-text {
        margin-top: 140px !important;
    }

    .congrates-img {
        height: 18vh;
        padding-bottom: 25px;
    }

    .congrates-msg {
        font-size: 13px;
        color: #0d0d53;
        font-weight: 500;
        text-align: center;
    }

    .congrates-btn {
        width: 180px;
        border: none;
        border-radius: 10px;
        height: 40px;
        background-color: #106ce6;
        margin-left: 15%;
    }

    .cng-link {
        color: white;
        text-decoration: none;
        font-size: 14px;
    }

    /* congratulations page  */

    /* page 10 start  */
    .confForm {
        padding: 0% 5% 0% 5%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .confEmail {
        color: rgb(13, 13, 128);
        font-size: 20px;
        padding-top: 40px;
        text-align: center;
        font-weight: 500;
    }

    .confImage {
        width: 60%;
        margin-top: 30px;
        object-fit: cover;
        margin-bottom: 14%;
    }

    .confText {
        color: #000103;
        font-size: 13px;
        text-align: center;
    }

    .confLink {
        color: #106ce6;
    }

    .confBtn {
        background-color: #1b5db3;
        text-align: center;
        color: white;
        height: 40px;
        width: 220px;
        border: none;
        border-radius: 10px;
        margin-top: 8%;
    }

    .confBtn a {
        color: white;
        font-weight: 400;
        font-size: 14px;
    }

    /* page 10 end  */

    /* page 12 start  */
    .welForm {
        padding: 0% 8% 0% 8%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .welEmail {
        color: rgb(13, 13, 128);
        font-size: 26px;
        margin-top: 10%;
        text-align: left;
        font-weight: 600;
    }

    .welText {
        color: #000103;
        font-size: 14px;
        text-align: left;
        margin-top: 10%;
        padding-right: 10%;
    }

    .welLink {
        color: #5d6269;
        text-decoration: underline;
        margin-top: 5%;
        font-size: 14px;
    }

    .welBtn {
        background-color: #1b5db3;
        text-align: center;
        color: white;
        height: 45px;
        width: 180px;
        border: none;
        border-radius: 10px;
        margin-top: 18%;
    }

    .welBtn a {
        color: white;
        font-weight: 500;
        font-size: 15px;
    }

    /* page11 start */

    .passForm {
        padding: 0% 5% 0% 5%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .passTitle {
        color: rgb(13, 13, 128);
        font-size: 19px;
        padding-top: 28px;
        text-align: left;
    }

    .passText {
        color: #073777;
        font-size: 12px;
        text-align: left;
        line-height: 20px;
        margin-top: 4%;
        padding-bottom: 10px;
    }

    .password {
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 0% 0% 0% 0%;
        margin-left: 3%;
    }

    .password input {
        height: 55px;
        width: 250px;
        border: none;
        border: #1b5db3 3px solid;
        border-radius: 13px;
        margin-bottom: 6%;
    }

    .eye {
        height: 42px;
        width: 42px;
        z-index: 1;
        margin-top: -63px;
        margin-left: 170px;
    }

    ::placeholder {
        text-align: center;
        font-size: 20px;
    }

    .passCon {
        text-align: left;
        margin-top: 6%;
    }

    .warnImg {
        height: 15px;
        width: 15px;
    }

    .warnText {
        font-size: 8px;
    }

    .passLab {
        text-align: left;
        font-size: 13px;
        color: #073777;
        margin-bottom: 10px;
    }

    .passLink {
        color: #106ce6;
    }

    .passBtn {
        background-color: #0c54c4;
        text-align: center;
        color: white;
        height: 40px;
        width: 200px;
        border: none;
        border-radius: 10px;
        margin-top: 10%;
        text-align: center;
        padding-top: 7px;
    }

    .passBtn a {
        color: white;
        font-weight: 500;
        font-size: 12px;
    }

    /* page11 start */
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .page7 {
        align-items: center;
        justify-content: center;
        width: 100%;
        overflow: hidden;
    }

    .arrow1 {
        border-radius: 10px;
        font-size: 34px;
        color: #1b5db3;
        position: absolute;
        left: 11%;
        top: 100px;
    }

    .arrow-left {
        width: 20px;
        height: 22px;
        align-items: center;
        justify-content: center;
        margin-top: -4%;
        margin-left: -20% !important;
    }
    .arrow2 {
        height: 21px;
        border-radius: 10px;
        font-size: 40px;
        color: #002dc2de;
        position: absolute;
        left: 82%;
        top: 10%;
    }

    .round span {
        height: 26px;
        width: 26px;
        border: #9ea0a6 1px solid;
        border-radius: 50%;
        border: none;
        background-color: #d0d3dd;
        display: inline-flex;
        margin-left: 5px;
    }

    .round {
        margin-top: 112px;
        margin-left: 25%;
    }

    .verifForm {
        padding: 0% 12% 0% 13%;
        align-items: center;
        justify-content: center;
        text-align: left;
    }

    .entVer {
        color: rgb(13, 13, 128);
        font-size: 20px;
        padding-top: 50px;
    }

    .verNotif {
        color: #9ea0a6;
        font-size: 13px;
    }

    .verNums {
        display: inline-flex;
        margin-top: 10%;
        margin-bottom: 20%;
    }

    .vNum {
        height: 50px;
        width: 50px;
        border: none;
        background-color: #ebeffb73;
    }

    ::placeholder {
        color: #404142;
        border-radius: 50%;
        font-size: 30px;
        text-align: center;
    }

    .verBtn {
        width: 255px;
        border: none;
        border-radius: 10px;
        height: 44px;
        margin-right: 5%;
    }

    .verBtn a {
        text-decoration: none;
        color: white;
        font-size: 14px;
    }

    .otpRes {
        color: #404142;
        font-weight: 700;
    }

    .otpNotif {
        font-size: 12px;
        padding: 5% 5% 0% 15%;
    }

    .nav-img {
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: -1;
    }

    /* congratulations */

    .congrates-title {
        color: #13136e;
        font-size: 30px;
        font-weight: 900;
        text-align: center;
    }

    .congrates-text {
        margin-top: 140px !important;
    }

    .congrates-img {
        height: 22vh;
        padding-bottom: 25px;
    }

    .congrates-msg {
        font-size: 14px;
        color: #0d0d53;
        font-weight: 500;
        text-align: center;
    }

    .congrates-btn {
        width: 200px;
        border: none;
        border-radius: 10px;
        height: 45px;
        background-color: #106ce6;
        margin: auto;
        margin-top: 20%;
    }

    .cng-link {
        color: white;
        text-decoration: none;
        font-size: 16px;
    }

    /* congratulations page  */

    /* page 10 start  */
    .confForm {
        padding: 0% 8% 0% 8%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .confEmail {
        color: rgb(13, 13, 128);
        font-size: 23px;
        margin-top: 10%;
        text-align: center;
        font-weight: 500;
    }

    .confImage {
        width: 50%;
        margin-top: 30px;
        object-fit: cover;
        margin-bottom: 12%;
    }

    .confText {
        color: #000103;
        font-size: 14px;
        text-align: center;
    }

    .confLink {
        color: #106ce6;
    }

    .confBtn {
        background-color: #1b5db3;
        text-align: center;
        color: white;
        height: 44px;
        width: 270px;
        border: none;
        border-radius: 10px;
        margin-top: 10%;
    }

    .confBtn a {
        color: white;
        font-weight: 500;
        font-size: 15px;
    }

    /* page 10 end  */
    /* page 12 start  */
    .welForm {
        padding: 0% 8% 0% 12%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .welEmail {
        color: rgb(13, 13, 128);
        font-size: 30px;
        margin-top: -2%;
        text-align: left;
        font-weight: 600;
    }

    .welText {
        color: #000103;
        font-size: 15px;
        text-align: left;
        margin-top: 13%;
        padding-right: 10%;
    }

    .welLink {
        color: #8f949b;
        text-decoration: underline;
        margin-top: 3%;
        font-size: 17px;
    }

    .welBtn {
        background-color: #1b5db3;
        text-align: center;
        color: white;
        height: 45px;
        width: 180px;
        border: none;
        border-radius: 10px;
        margin-top: 18%;
    }

    .welBtn a {
        color: white;
        font-weight: 500;
        font-size: 18px;
    }

    /* page11 start */

    .passForm {
        padding: 0% 10% 0% 10%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .passTitle {
        color: rgb(13, 13, 128);
        font-size: 23px;
        padding-top: 15px;
        text-align: center;
    }

    .passText {
        color: #073777;
        font-size: 13px;
        text-align: left;
        line-height: 25px;
        margin-top: 4%;
        padding-bottom: 19px;
    }

    .password {
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 0% 0% 0% 0%;
        margin-left: 5%;
    }

    .password input {
        height: 62px;
        width: 295px;
        border: none;
        border: #1b5db3 3px solid;
        border-radius: 18px;
        margin-bottom: 6%;
    }

    .eye {
        height: 45px;
        width: 45px;
        z-index: 1;
        margin-top: -71px;
        margin-left: 220px;
    }

    ::placeholder {
        text-align: center;
        font-size: 20px;
    }

    .passCon {
        text-align: left;
        margin-top: 9%;
    }

    .warnImg {
        height: 15px;
        width: 15px;
        margin-right: 10px;
    }

    .warnText {
        font-size: 8px;
    }

    .passLab {
        text-align: left;
        font-size: 13px;
        color: #073777;
        margin-bottom: 10px;
    }

    .passLink {
        color: #106ce6;
    }

    .passBtn {
        background-color: #125dd6;
        text-align: center;
        color: white;
        height: 60px;
        width: 261px;
        border: none;
        border-radius: 10px;
        margin-top: 8%;
        text-align: center;
        padding-top: 0px;
    }

    .passBtn a {
        color: white;
        font-weight: 500;
        font-size: 13px;
    }

    /* page11 start */
}

/*  (portrait and landscape) ----------- */
@media only screen and (min-device-width: 480px) and (max-device-width: 575px) {
    .page7 {
        align-items: center;
        justify-content: center;
        width: 100%;
        overflow: hidden;
    }

    .arrow1 {
        border-radius: 10px;
        font-size: 40px;
        color: #1b5db3;
        position: absolute;
        left: 15%;
        top: 99px;
    }

    .arrow-left {
        width: 24px;
        height: 24px;
        align-items: center;
        justify-content: center;
        margin-top: -5%;
        margin-left: -9% !important;
    }
    .arrow2 {
        height: 21px;
        border-radius: 10px;
        font-size: 40px;
        color: #002dc2de;
        position: absolute;
        left: 82%;
        top: 10%;
    }

    .round span {
        height: 31px;
        width: 31px;
        border: #9ea0a6 1px solid;
        border-radius: 50%;
        border: none;
        background-color: #d0d3dd;
        display: inline-flex;
        margin-left: 8px;
        text-align: center;
    }

    .round {
        margin-top: 112px;
        margin-left: 25%;
    }

    .verifForm {
        padding: 0% 12% 0% 13%;
        align-items: center;
        justify-content: center;
        text-align: left;
    }

    .entVer {
        color: rgb(13, 13, 128);
        font-size: 26px;
        padding-top: 50px;
    }

    .verNotif {
        color: #9ea0a6;
        font-size: 13px;
    }

    .verNums {
        display: inline-flex;
        margin-top: 10%;
        margin-bottom: 20%;
        padding: 0% 0% 0% 7%;
    }

    .vNum {
        height: 70px;
        width: 70px;
        border: none;
        background-color: #f0f2f8fb;
    }

    ::placeholder {
        color: #404142;
        border-radius: 50%;
        font-size: 30px;
        text-align: center;
    }

    .verBtn {
        width: 255px;
        border: none;
        border-radius: 10px;
        height: 44px;
        margin-right: 5%;
    }

    .verBtn a {
        text-decoration: none;
        color: white;
        font-size: 14px;
    }

    .otpRes {
        color: #404142;
        font-weight: 700;
    }

    .otpNotif {
        font-size: 12px;
        padding: 6% 7% 0% 25%;
    }

    .nav-img {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    /* congratulations page  */

    /* congratulations */

    .congrates-title {
        color: #13136e;
        font-size: 33px;
        font-weight: 900;
        text-align: center;
    }

    .congrates-text {
        margin-top: 140px !important;
    }

    .congrates-img {
        height: 22vh;
        padding-bottom: 25px;
    }

    .congrates-msg {
        font-size: 17px;
        color: #0d0d53;
        font-weight: 500;
        text-align: center;
    }

    .congrates-btn {
        width: 200px;
        border: none;
        border-radius: 10px;
        height: 45px;
        background-color: #106ce6;
        margin: auto;
        margin-top: 20%;
    }

    .cng-link {
        color: white;
        text-decoration: none;
        font-size: 18px;
    }

    /* page 10 start  */
    .confForm {
        padding: 0% 6% 0% 6%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .confEmail {
        color: rgb(13, 13, 128);
        font-size: 25px;
        margin-top: 8%;
        text-align: center;
        font-weight: 500;
    }

    .confImage {
        width: 50%;
        margin-top: 30px;
        object-fit: cover;
        margin-bottom: 12%;
    }

    .confText {
        color: #000103;
        font-size: 15px;
        text-align: center;
    }

    .confLink {
        color: #106ce6;
    }

    .confBtn {
        background-color: #1b5db3;
        text-align: center;
        color: white;
        height: 50px;
        width: 300px;
        border: none;
        border-radius: 10px;
        margin-top: 10%;
    }

    .confBtn a {
        color: white;
        font-weight: 500;
        font-size: 17px;
    }

    /* page 10 end  */

    /* page 12 start  */
    .welForm {
        padding: 0% 12% 0% 12%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .welEmail {
        color: rgb(13, 13, 128);
        font-size: 37px;
        margin-top: 10%;
        text-align: left;
        font-weight: 600;
    }

    .welText {
        color: #000103;
        font-size: 18px;
        text-align: left;
        margin-top: 10%;
        padding-right: 10%;
    }

    .welLink {
        color: #8f949b;
        text-decoration: underline;
        margin-top: 5%;
    }

    .welBtn {
        background-color: #1b5db3;
        text-align: center;
        color: white;
        height: 55px;
        width: 250px;
        border: none;
        border-radius: 10px;
        margin-top: 15%;
    }

    .welBtn a {
        color: white;
        font-weight: 500;
        font-size: 18px;
    }

    /* page 12 end  */

    /* page11 start */

    .passForm {
        padding: 0% 10% 0% 10%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .passTitle {
        color: rgb(13, 13, 128);
        font-size: 25px;
        padding-top: 28px;
        text-align: center;
    }

    .passText {
        color: #073777;
        font-size: 14px;
        text-align: left;
        line-height: 23px;
        margin-top: 4%;
        padding-bottom: 19px;
    }

    .password {
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 0% 0% 0% 0%;
        margin-left: 30%;
    }

    .password input {
        height: 70px;
        width: 300px;
        border: none;
        border: #1b5db3 3px solid;
        border-radius: 13px;
        margin-bottom: 6%;
    }

    .eye {
        height: 45px;
        width: 45px;
        z-index: 1;
        margin-top: -81px;
        margin-left: 220px;
    }

    ::placeholder {
        text-align: center;
        font-size: 20px;
    }

    .passCon {
        text-align: left;
        margin-top: 1%;
        margin-left: 110px;
    }

    .warnImg {
        height: 15px;
        width: 15px;
        margin-right: 10px;
    }

    .warnText {
        font-size: 8px;
    }

    .passLab {
        text-align: left;
        font-size: 13px;
        color: #073777;
        margin-bottom: 10px;
    }

    .passLink {
        color: #106ce6;
    }

    .passBtn {
        background-color: #125dd6;
        text-align: center;
        color: white;
        height: 50px;
        width: 260px;
        border: none;
        border-radius: 10px;
        margin-top: 8%;
        text-align: center;
        padding-top: 7px;
    }

    .passBtn a {
        color: white;
        font-weight: 500;
        font-size: 13px;
    }

    /* page11 start */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 575px) and (max-device-width: 980px) {
    /* Styles */
    .page7 {
        align-items: center;
        justify-content: center;
        width: 100%;
        overflow: hidden;
    }

    .arrow1 {
        border-radius: 10px;
        font-size: 45px;
        color: #1b5db3;
        position: absolute;
        left: 20%;
        top: 96px;
        text-align: center;
    }

    .arrow-left {
        width: 24px;
        height: 24px;
        align-items: center;
        justify-content: center;
        margin-top: -5%;
        margin-left: 18% !important;
    }
    .arrow2 {
        height: 21px;
        border-radius: 10px;
        font-size: 40px;
        color: #002dc2de;
        position: absolute;
        left: 82%;
        top: 10%;
    }

    .round span {
        height: 28px;
        width: 28px;
        border: #9ea0a6 1px solid;
        border-radius: 50%;
        border: none;
        background-color: #d0d3dd;
        display: inline-flex;
        margin-left: 15px;
    }

    .round {
        margin-top: 112px;
        margin-left: 15%;
    }

    .verifForm {
        padding: 0% 12% 0% 25%;
        align-items: center;
        justify-content: center;
        text-align: left;
        z-index: 999;
    }

    .entVer {
        color: rgb(13, 13, 128);
        font-size: 26px;
        padding-top: 50px;
    }

    .verNotif {
        color: #9ea0a6;
        font-size: 13px;
    }

    .verNums {
        display: inline-flex;
        margin-top: 10%;
        margin-bottom: 20%;
        padding: 0% 0% 0% 5%;
    }

    .vNum {
        height: 70px;
        width: 70px;
        border: none;
        background-color: #f0f2f8fb;
    }

    ::placeholder {
        color: #404142;
        border-radius: 50%;
        font-size: 30px;
        text-align: center;
    }

    .verBtn {
        width: 255px;
        border: none;
        border-radius: 10px;
        height: 44px;
        margin-right: 20%;
    }

    .verBtn a {
        text-decoration: none;
        color: white;
        font-size: 14px;
    }

    .otpRes {
        color: #404142;
        font-weight: 700;
    }

    .otpNotif {
        font-size: 12px;
        padding: 6% 7% 0% 21%;
    }

    .nav-img {
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: -1;
    }

    /* congratulations */

    .congrates-title {
        color: #13136e;
        font-size: 30px;
        font-weight: 900;
        text-align: center;
    }

    .congrates-text {
        margin-top: 140px !important;
    }

    .congrates-img {
        height: 25vh;
        padding-bottom: 25px;
    }

    .congrates-msg {
        font-size: 17px;
        color: #0d0d53;
        font-weight: 500;
        text-align: center;
    }

    .congrates-btn {
        width: 200px;
        border: none;
        border-radius: 10px;
        height: 45px;
        background-color: #106ce6;
        margin: auto;
        margin-top: 15%;
    }

    .cng-link {
        color: white;
        text-decoration: none;
        font-size: 18px;
    }

    /* page 10 start  */
    .confForm {
        padding: 0% 8% 0% 8%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .confEmail {
        color: rgb(13, 13, 128);
        font-size: 30px;
        margin-top: 6%;
        text-align: center;
        font-weight: 500;
    }

    .confImage {
        width: 40%;
        margin-top: 30px;
        object-fit: cover;
        margin-bottom: 7%;
    }

    .confText {
        color: #000103;
        font-size: 17px;
        text-align: center;
    }

    .confLink {
        color: #106ce6;
    }

    .confBtn {
        background-color: #1b5db3;
        text-align: center;
        color: white;
        height: 60px;
        width: 90%;
        border: none;
        border-radius: 10px;
        margin-top: 10%;
    }

    .confBtn a {
        color: white;
        font-weight: 500;
        font-size: 17px;
    }

    /* page 10 end  */

    /* page 12 start  */
    .welForm {
        padding: 0% 20% 0% 20%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .welEmail {
        color: rgb(13, 13, 128);
        font-size: 30px;
        margin-top: 10%;
        text-align: center;
    }

    .welText {
        color: #000103;
        font-size: 18px;
        text-align: center;
        margin-top: 10%;
    }

    .welLink {
        color: #8f949b;
        text-decoration: underline;
        margin-top: 3%;
    }

    .welBtn {
        background-color: #1b5db3;
        text-align: center;
        color: white;
        height: 55px;
        width: 250px;
        border: none;
        border-radius: 10px;
        margin-top: 15%;
    }

    .welBtn a {
        color: white;
        font-weight: 500;
        font-size: 18px;
    }

    /* page 12 end  */

    /* page11 start */

    .passForm {
        padding: 0% 17% 0% 17%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .passTitle {
        color: rgb(13, 13, 128);
        font-size: 25px;
        padding-top: 28px;
        text-align: center;
    }

    .passText {
        color: #073777;
        font-size: 14px;
        text-align: left;
        line-height: 23px;
        margin-top: 4%;
        padding-bottom: 19px;
    }

    .password {
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 0% 0% 0% 0%;
        margin-left: 30%;
    }

    .password input {
        height: 70px;
        width: 390px;
        border: none;
        border: #1b5db3 3px solid;
        border-radius: 13px;
        margin-bottom: 6%;
    }

    .eye {
        height: 45px;
        width: 45px;
        z-index: 1;
        margin-top: -86px;
        margin-left: 282px;
    }

    ::placeholder {
        text-align: center;
        font-size: 20px;
    }

    .passCon {
        text-align: left;
        margin-top: 1%;
        margin-left: 110px;
    }

    .warnImg {
        height: 20px;
        width: 20px;
        margin-right: 15px;
    }

    .warnText {
        font-size: 12px;
    }

    .passLab {
        text-align: left;
        font-size: 16px;
        color: #073777;
        margin-bottom: 10px;
    }

    .passLink {
        color: #106ce6;
    }

    .passBtn {
        background-color: #125dd6;
        text-align: center;
        color: white;
        height: 57px;
        width: 340px;
        border: none;
        border-radius: 10px;
        margin-top: 8%;
        text-align: center;
        padding-top: 7px;
    }

    .passBtn a {
        color: white;
        font-weight: 500;
        font-size: 13px;
    }

    /* page11 start */
}
