

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap");
                                            
body {
  background: #fff;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #2dc997;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: #2dca98;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #2dc997;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.base-Color{
  color: #092358 !important;
}

.green{
  color: #25914f !important;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #49d6a9;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/

@media screen and (max-width: 768px) {
  [data-aos-delay] {
      transition-delay: 0 !important;
  }
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  height: 90px;
  transition: all 0.5s;
  z-index: 997;
  background: rgba(52, 59, 64, 0.9);
}

#header #logo h1 {
  font-size: 32px;
  margin: 0;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header #logo h1 a,
#header #logo h1 a:hover {
  color: #fff;
}

#header #logo img {
  padding: 0;
  margin: 0;
}

#header.header-transparent {
  background: transparent;
}

#header.header-scrolled {
  background: rgba(52, 59, 64, 0.9);
  height: 70px;
  transition: all 0.5s;
}

.scrolled-offset {
  margin-top: 70px;
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/

.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar>ul>li {
  white-space: nowrap;
  padding: 10px 0 10px 24px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 14px;
  padding: 0 4px;
  white-space: nowrap;
  transition: 0.3s;
  letter-spacing: 0.4px;
  position: relative;
  text-transform: uppercase;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar>ul>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #2dc997;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  transform: scaleX(1);
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #fff;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 24px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: #666666;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #2dc997;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

/**
* Mobile Navigation 
*/

.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}



.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(77, 77, 77, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile>ul>li {
  padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
  visibility: hidden;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #666666;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #2dc997;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #2dc997;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
  width: 100%;
  height: 100vh;
  background: url(../img/hero-bg.png) top center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}



#hero:before {
  content: "";
  /* background: rgba(0, 0, 0, 0.5); */
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero h1 {
  margin: 30px 0 10px 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}



#hero h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 24px;
}



#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  background-color: #0146a2;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 10px;
  transition: 0.5s;
  margin: 20px;
  /* border: 2px solid #fff; */
  color: #fff;
}

#hero .btn-get-started:hover {
  /* background: #2dc997;
border: 2px solid #2dc997; */
}
/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

section {
  overflow: hidden;
}
/* Sections Header
--------------------------------*/

.section-header .section-title {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 5px;
}

.section-header .section-description {
  text-align: center;
  padding-bottom: 40px;
  color: #999;
}
/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/

.breadcrumbs {
  padding: 20px 0;
  background-color: whitesmoke;
  min-height: 40px;
  margin-top: 92px;
}

.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}



.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}


/* About Us Section
--------------------------------*/

#about {
  background: #fff;
  padding: 80px 0;
}

#about .about-container .background {
  min-height: 300px;
  background: url(../img/about-img.jpg) center top no-repeat;
  margin-bottom: 10px;
}

#about .about-container .content {
  background: #fff;
}

#about .about-container .title {
  color: #333;
  font-weight: 700;
  font-size: 32px;
}



#about .about-container p {
  line-height: 26px;
}

#about .about-container p:last-child {
  margin-bottom: 0;
}

#about .about-container .icon-box {
  background: #fff;
  background-size: cover;
  padding: 0 0 30px 0;
}

#about .about-container .icon-box .icon {
  float: left;
  background: #fff;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #2dc997;
}

#about .about-container .icon-box .icon i {
  color: #2dc997;
  font-size: 24px;
  line-height: 0;
}

#about .about-container .icon-box .title {
  margin-left: 80px;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: uppercase;
}

#about .about-container .icon-box .title a {
  color: #111;
}

#about .about-container .icon-box .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}
/* Facts Section
--------------------------------*/

#facts {
  background: #f7f7f7;
  padding: 80px 0 60px 0;
}

#facts .counters span {
  font-size: 48px;
  display: block;
  color: #2dc997;
}

#facts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
/* Services Section
--------------------------------*/

#services {
  background: #fff;
  background-size: cover;
  padding: 80px 0 60px 0;
}

#services .box {
  padding: 50px 20px;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid #e6e6e6;
  height: 200px;
  position: relative;
  background: #fafafa;
}

#services .icon {
  position: absolute;
  top: -36px;
  left: calc(50% - 36px);
  transition: 0.2s;
  border-radius: 50%;
  border: 6px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 72px;
  height: 72px;
  background: #2dc997;
}

#services .icon a {
  display: inline-block;
}

#services .icon i {
  color: #fff;
  font-size: 24px;
  line-height: 0;
}

#services .box:hover .icon {
  background: #fff;
  border: 2px solid #2dc997;
}

#services .box:hover .icon i {
  color: #2dc997;
}

#services .box:hover .icon a {
  color: #2dc997;
}

#services .title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#services .title a {
  color: #111;
}

#services .description {
  font-size: 14px;
  line-height: 24px;
}
/* Call To Action Section
--------------------------------*/

#call-to-action {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/call-to-action-bg.jpg) fixed center center;
  background-size: cover;
  padding: 80px 0;
}



#call-to-action .cta-title {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

#call-to-action .cta-text {
  color: #fff;
}

#call-to-action .cta-btn {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#call-to-action .cta-btn:hover {
  background: #2dc997;
  border: 2px solid #2dc997;
}
/* Portfolio Section
--------------------------------*/

#portfolio {
  background: #f7f7f7;
  padding: 80px 0;
}

#portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
}

#portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 12px 18px 14px 18px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #666666;
  margin: 0 5px 10px 5px;
  transition: all ease-in-out 0.3s;
  background: white;
  border-radius: 4px;
}

#portfolio #portfolio-flters li:hover,
#portfolio #portfolio-flters li.filter-active {
  color: #fff;
  background: #2dc997;
}

#portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

#portfolio .portfolio-item {
  margin-bottom: 30px;
  overflow: hidden;
}

#portfolio .portfolio-item img {
  position: relative;
  top: 0;
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 12px;
  right: 12px;
  bottom: -50px;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: #2dc997;
  padding: 15px 20px;
}

#portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}

#portfolio .portfolio-item .portfolio-info p {
  color: #fff;
  font-size: 14px;
  margin-bottom: 0;
}

#portfolio .portfolio-item .portfolio-info .preview-link,
#portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 50px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: white;
  transition: ease-in-out 0.3s;
}

#portfolio .portfolio-item .portfolio-info .preview-link:hover,
#portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: #a4ebd4;
}

#portfolio .portfolio-item .portfolio-info .details-link {
  right: 15px;
}

#portfolio .portfolio-item:hover img {
  top: -30px;
}

#portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
  bottom: 0;
}
/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/

.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #2dc997;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #2dc997;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(102, 102, 102, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}
/* Team Section
--------------------------------*/

#team {
  background: #fff;
  padding: 80px 0 60px 0;
}

#team .member {
  text-align: center;
  margin-bottom: 20px;
}

#team .member .pic {
  margin-bottom: 15px;
  overflow: hidden;
  height: 260px;
}

#team .member .pic img {
  max-width: 100%;
}

#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
}

#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

#team .member .social {
  margin-top: 15px;
}

#team .member .social a {
  color: #b3b3b3;
}

#team .member .social a:hover {
  color: #2dc997;
}

#team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}
/* Contact Section
--------------------------------*/

#contact {
  background: #f7f7f7;
  padding: 80px 0 40px 0;
}

#contact #google-map {
  height: 300px;
  margin-bottom: 20px;
}

#contact .info {
  color: #333333;
}

#contact .info i {
  font-size: 32px;
  color: #2dc997;
  float: left;
  line-height: 0;
}

#contact .info p {
  padding: 0 0 10px 50px;
  margin-bottom: 20px;
  line-height: 22px;
  font-size: 14px;
}

#contact .info .email p {
  padding-top: 5px;
}

#contact .social-links {
  padding: 20px 0;
}

#contact .social-links a {
  font-size: 18px;
  background: #333;
  color: #fff;
  line-height: 1;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#contact .social-links a i {
  line-height: 0;
}

#contact .social-links a:hover {
  background: #2dc997;
  color: #fff;
}

#contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

#contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

#contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

#contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

#contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

#contact .php-email-form input,
#contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

#contact .php-email-form input::focus,
#contact .php-email-form textarea::focus {
  background-color: #2dc997;
}

#contact .php-email-form button[type=submit] {
  background: #2dc997;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

#contact .php-email-form button[type=submit]:hover {
  background: #51d8ad;
}

@-webkit-keyframes animate-loading {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  background: #343b40;
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #ccc;
}


/* css added by MH  */

#profile {
  width: 100%;
  position: relative;
  padding: 40px 20px;
}

.get-started {
  position: absolute;
  bottom: 3%;
}

#profile img {
  min-width: 150px;
}

#profile .welcome-box {
  font-size: 26px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

#profile table {
  line-height: 30px;
}

#profile table th {
  font-size: 22px;
}

#profile .img-div {
  padding: 0 80px;
}

#profile .property-card {
  border: none;
  min-height: 250px;
  background-color: #d7e2f2;
  padding: 40px 20px;
  border-radius: 15px;
}

.text-right {
  text-align: right;
}

.table-total {
  font-weight: bold;
  padding-top: 20px;
  color: #092358;
}

.float-right {
  float: right;
}

.table-total-10 {
  font-weight: bold;
  padding-top: 10px;
  color: #233c6c;
}

.mortages-card {
  border: none;
  min-height: 250px;
  background-color: #dff3ff;
  padding: 40px 20px;
  border-radius: 15px;
}

.profile-btn {
  background: #205fb7;
  border: 0;
  width: 160px;
  border-radius: 6px;
  padding: 10px;
  color: #fff;
  transition: 0.4s;
}

.pro-table td{
  padding-bottom: 15px !important;
}

.pro-table input, .pro-table select, .pro-table textarea {
  width: 100%;
  border: 1px solid #F4F4F4;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  color: #7C8694;
  background-color: #F4F4F4;
}

.profile-btn-disabled {
  background: #ccc;
  border: 0;
  width: 100%;
  min-width: 160px;
  border-radius: 6px;
  padding: 10px;
  color: #fff;
  transition: 0.4s;
}


@media (max-width: 420px) {
.property-card .mortages-card table tbody tr td{
font-size: 14px;
}
#hero h1 {
font-size: 36px;
line-height: 36px;
}
#hero .btn-get-started {
font-size: 18px;
}
#hero h2 {
font-size: 16px;
line-height: 24px;
margin-bottom: 26px;
}
#profile .img-div {
margin-right: 40px;
padding: 0 15px;
}
#profile img {
min-width: 100px;
margin-right: 20px;
}
#profile .welcome-box {
font-size: 20px;
font-weight: 500;
display: flex;
align-items: center;
}
.profile-btn {
margin-bottom: 10px;
}
#profile table th {
font-size: 16px;
}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 600px) {
#profile img {
min-width: 100px;
margin-right: 20px;
}
#profile .welcome-box {
font-size: 20px;
font-weight: 500;
display: flex;
align-items: center;
}
#profile .img-div {
margin-right: 50px;
padding: 0 20px;
}
#profile table th {
font-size: 18px;
}
}
/* Medium devices (landscape tablets, 768px and up) */

@media (max-width: 768px) {
#about .about-container .title {
padding-top: 15px;
}

.breadcrumbs .d-flex {
display: block !important;
}
.breadcrumbs ol {
display: block;
}
.breadcrumbs ol li {
display: inline-block;
}
#hero h2 {
font-size: 18px;
line-height: 24px;
margin-bottom: 30px;
}
#hero .btn-get-started {
font-size: 22px;
}
#hero h1 {
font-size: 42px;
line-height: 36px;
}
#hero .get-started {
position: absolute;
bottom: 3%;
}
#header #logo img {
display: none;
}
.mobile-nav-toggle {
display: none;
}
#profile img {
min-width: 100px;
margin-right: 20px;
}
#profile .welcome-box {
font-size: 20px;
font-weight: 500;
display: flex;
align-items: center;
}
#profile .img-div {
margin-right: 50px;
padding: 0 20px;
}
}

@media (max-width: 991px) {
.mobile-nav-toggle {
display: block;
}
.navbar ul {
display: none;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {

}

@media (max-width: 992px) {
.breadcrumbs h2 {
margin: 0 0 10px 0;
}
}

@media (max-width: 1024px) {
#call-to-action {
background-attachment: scroll;
}

}

@media (min-width: 1024px) {
#hero {
background-attachment: fixed;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media (min-width: 1200px) {}

@media (max-width: 1366px) {
.navbar .dropdown .dropdown ul {
left: -90%;
}
.navbar .dropdown .dropdown:hover>ul {
left: -100%;
}
}









/*--------------------------------------------------------------
# Css for the complete profile setup page
# Css starts here
--------------------------------------------------------------*/
input[type="text"].incolor::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #7c8694;
}


@media (max-width: 428px) {

  #body-temp{
    /* padding-left: 6%; */
    /* padding-right: 6%; */
    padding: 0 6%;
  }

  #head{
    position: relative;
    
  }

  input[type="text"].incolor::-webkit-input-placeholder {
    font-size: 16px;
    font-weight: 500;
    color: #7c8694;
  }
  
  #head h2{
    font-size: 24px;
    font-weight: 600;
    color: #092358;
    margin-left: 14px;
    padding-top: 58px;
  } 
  
  #head .arow-size{
    width: 15px;
    color: #205fb7;
    position: absolute;
    top: 68%;
    left: 2px;
  }
    
  

  .arow{
    height: px;
  }
  .arow-size{
    width: 10px;
  }

  .margin{
    margin-left: -5px;
    padding-left: 0px;
    padding-right: 6px;
}
  
  .margin2{
    margin-right: 0px;
    margin-left: -4px;
    padding-left: 16px;
    padding-right: 0px;
  }
  .margin3{    
    margin-right: 0px;
    margin-left: 4px;
    padding-left: 3px;

  }
  .mix-tab{
    padding-bottom: 9px;
  }
  
  .form-control{
    background-color: #f3f3f3;
    border: none;
    padding-top: 14px;
    padding-bottom: 14px;
    
  }


.form-control[type=file]:not(:disabled):not([readonly]) {
    cursor: none;
}
.conten{
  position: relative;
  padding-top: 8px;
}

.upload{
  z-index: 0;
  opacity: 1;
  width: 100%;
  height: 70px;
  right: 0px;
  left: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 18px;
}
  
.upload1{
  z-index: 10;
  opacity: 0;
  width: 12%;
  top: 26%;
  height: 44px;
  background: #fff;
  position: absolute;
  right: 16%;
  left: 84%;
  margin-right: 1px;
  margin-left: 1px;
}
.zp{
  z-index: 1;
}

.upload1::before{
  content: '';
}

.upload1::-webkit-file-upload-button {
  visibility: hidden;
}


.title{
  font-size: 16px;
  font-weight: 500;
  color: #7c8694;
  font-family: 'Raleway', sans-serif;
}
.sub-tittle{
  font-size: 10px;
  font-weight: 400;
  color: #a9a9a9;
  margin-top: -18px;
  font-family: 'Raleway', sans-serif;
}
.plus{
  width: 36px;
  border-radius: 50%;
  position: absolute;
  top: 34%;
  right: 15px;
}

.custome-btn{
  margin-left: 30%;
  margin-top: 6%;
  background-color: #2060b7;
  padding-left: 52px;
  padding-right: 52px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
}

}

@media (max-width: 375px) {
  #head h2 {
    font-size: 21px;
    font-weight: 600;
    color: #092358;
    margin-left: 14px;
    padding-top: 58px;
  }

  #head .arow-size {
    width: 13px;
    color: #205fb7;
    position: absolute;
    top: 72%;
    left: 2px;
  }
  input[type="text"].incolor::-webkit-input-placeholder {
    font-size: 14px!important;
    font-weight: 500;
    color: #7c8694;
  }


  .custome-btn {
    margin-left: 26%;
    margin-top: 6%;
    background-color: #2060b7;
    padding-left: 52px;
    padding-right: 52px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
}
.title {
  font-size: 14px;
  font-weight: 500;
  color: #a9a9a9;
  font-family: 'Raleway', sans-serif;

}
.sub-tittle {
  font-size: 8px;
  font-weight: 400;
  color: #a9a9a9;
  margin-top: -18px;
  font-family: 'Raleway', sans-serif;
}


}

@media (max-width: 320px){
  #head h2 {
    font-size: 19px;
    font-weight: 600;
    color: #092358;
    margin-left: 14px;
    padding-top: 58px;
  }

  input[type="text"].incolor::-webkit-input-placeholder {
    font-size: 13px!important;
    font-weight: 500;
    color: #7c8694;
  }

  .form-control {
    background-color: #f3f3f3;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
}
.upload {
  z-index: 0;
  opacity: 1;
  width: 100%;
  height: 58px;
  right: 0px;
  left: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
}

  .title {
    font-size: 12px;
    font-weight: 500;
    color: #a9a9a9;
    font-family: 'Raleway', sans-serif;
}

.sub-tittle {
  font-size: 7px;
  font-weight: 400;
  color: #a9a9a9;
  margin-top: -18px;
  font-family: 'Raleway', sans-serif;
}
  .plus {
    width: 30px;
    border-radius: 50%;
    position: absolute;
    top: 34%;
    right: 15px;
}

.custome-btn {
  margin-left: 27%;
  margin-top: 6%;
  background-color: #2060b7;
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
}

}


@media (max-width: 280px) {
  #head h2 {
    font-size: 16px;
    font-weight: 600;
    color: #092358;
    margin-left: 14px;
    padding-top: 58px;
}
#head .arow-size {
  width: 12px;
  color: #205fb7;
  position: absolute;
  top: 74%;
  left: 2px;
}
.mix-tab {
  padding-bottom: 6px;
}
.form-control {
  background-color: #f3f3f3;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
}

.margin {
  margin-left: -7px;
  padding-left: 0px;
  padding-right: 6px;
}
.margin3 {
  margin-right: 0px;
  margin-left: 4px;
  padding-left: 1px;
}

.conten {
  position: relative;
  padding-top: 6px;
}

.title {
  font-size: 11px;
  font-weight: 500;
  color: #a9a9a9;
  font-family: 'Raleway', sans-serif;
}

.sub-tittle {
  font-size: 7px;
  font-weight: 400;
  color: #a9a9a9;
  margin-top: -18px;
  font-family: 'Raleway', sans-serif;
}

.plus {
  width: 28px;
  border-radius: 50%;
  position: absolute;
  top: 28%;
  right: 12px;
}

.upload {
  z-index: 0;
  opacity: 1;
  width: 100%;
  height: 56px;
  right: 0px;
  left: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 12px;
}

.custome-btn {
  margin-left: 25%;
  margin-top: 6%;
  background-color: #2060b7;
  padding-left: 38px;
  padding-right: 38px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
}

}

/*--------------------------------------------------------------
# Css for the complete profile setup page
# Css End here
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Css for the complete profile setup page2
# Css starts here
--------------------------------------------------------------*/




@media only screen and (max-width: 428px){
  .custome-btn2{
    margin-left: 30%;
    margin-top: 24%;
    background-color: #2060b7;
    padding-left: 52px;
    padding-right: 52px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
  }


}




@media only screen and (max-width: 375px){
  .custome-btn2{
    margin-left: 27%;
    margin-top: 26%;
    background-color: #2060b7;
    padding-left: 52px;
    padding-right: 52px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
  }

}

@media only screen and (max-width: 320px){
  .custome-btn2{
    margin-left: 25%;
    margin-top: 28%;
    background-color: #2060b7;
    padding-left: 46px;
    padding-right: 46px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
  }

}


@media only screen and (max-width: 280px){
  .custome-btn2{
    margin-left: 24%;
    margin-top: 28%;
    background-color: #2060b7;
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 500;
  }

}

/*--------------------------------------------------------------
# Css for the complete profile setup page2
# Css End here
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Css for the My Profile
# Css Start here
--------------------------------------------------------------*/

@media only screen and (max-width: 428px){
  #body-temp{
    padding-left: 8%;
    padding-right: 8%;
  }

  #head1{
    position: relative;
    
  }

  #head1 h2{
    font-size: 24px;
    font-weight: 600;
    color: #092358;
    margin-left: 32px;
    padding-top: 22%;
  } 
  
  #head1 .arow-size{
    width: 15px;
    color: #205fb7;
    position: absolute;
    top: 73%;
    left: 6px;
  }

  .arow{
    height: 0px;
  }
  .arow-size{
    width: 10px;
  }

  .pro-contain{
    position: relative;

  }

  .pro-imag{
    width: 22%;
    padding-top: 14px;
    margin-left: 14px;
    padding-bottom: 8%;
  }

  .pro-content{
    position: absolute;
    top: 35%;
    left: 40%;
  }
  .pro-content h3{
    font-size: 20px;
    font-weight: 500;
    color: #092358;
  }

  .profile-data{
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .table-contain{

  }

  .table-contain tr{
    font-size: 16px;
    font-weight: 500;
    color: #7c8694;
  }

  .table-contain td b{
    font-size: 16px;
    font-weight: 500;
    color: #003060;
    margin-left: 62px;
  }

  .pb-30{
    padding-bottom: 26px;
  }
  
  .pt-10{
    padding-top: 10px;
  }

  .qr-code{
    position: relative;
    padding-top: 38px;
    height: 160px;
    margin-left: 68%;
  }
  
  .img-responsive{
    width: 105px;
    position: absolute;
    
  }

}



@media only screen and (max-width: 375px){

  #head1 h2 {
    font-size: 20px;
    font-weight: 600;
    color: #092358;
    margin-left: 32px;
    padding-top: 22%;
}

#head1 .arow-size {
  width: 14px;
  color: #205fb7;
  position: absolute;
  top: 74%;
  left: 6px;
}

.pro-imag {
  width: 21%;
  padding-top: 14px;
  margin-left: 14px;
  padding-bottom: 8%;
}

.pro-content h3 {
  font-size: 18px;
  font-weight: 500;
  color: #092358;
}

.table-contain tr {
  font-size: 15px;
  font-weight: 500;
  color: #7c8694;
}

.table-contain td b {
  font-size: 15px;
  font-weight: 500;
  color: #003060;
  margin-left: 62px;
}


.qr-code {
  position: relative;
  padding-top: 26px;
  height: 160px;
  margin-left: 70%;
}

.img-responsive {
  width: 90px;
  position: absolute;
}

}

@media only screen and (max-width: 320px){

  #head1 .arow-size {
    width: 12px;
    color: #205fb7;
    position: absolute;
    top: 74%;
    left: 6px;
}

  #head1 h2 {
    font-size: 18px;
    font-weight: 600;
    color: #092358;
    margin-left: 28px;
    padding-top: 22%;
}

.pro-imag {
  width: 20%;
  padding-top: 12px;
  margin-left: 14px;
  padding-bottom: 4%;
}

.pro-content {
  position: absolute;
  top: 35%;
  left: 40%;
}

.pro-content h3 {
  font-size: 16px;
  font-weight: 500;
  color: #092358;
}

.profile-data {
  padding-top: 6px;
  padding-bottom: 6px;
}

.table-contain tr {
  font-size: 13px;
  font-weight: 500;
  color: #7c8694;
}

.table-contain td b {
  font-size: 13px;
  font-weight: 500;
  color: #003060;
  margin-left: 62px;
}

.pb-30 {
  padding-bottom: 20px;
}

.pt-10 {
  padding-top: 8px;
}

.qr-code {
  position: relative;
  padding-top: 22px;
  height: 160px;
  margin-left: 72%;
}

.img-responsive {
  width: 74px;
  position: absolute;
}


}


@media only screen and (max-width: 280px){
  
#head1 h2 {
  font-size: 18px;
  font-weight: 600;
  color: #092358;
  margin-left: 26px;
  padding-top: 22%;
}

#head1 .arow-size {
  width: 12px;
  color: #205fb7;
  position: absolute;
  top: 69%;
  left: 6px;
}

.qr-code {
  position: relative;
  padding-top: 22px;
  height: 160px;
  margin-left: 72%;
}

.img-responsive {
  width: 64px;
  position: absolute;
}


}

/*--------------------------------------------------------------
# Css for the My Profile
# Css End here
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Css for the Page - 18
# Css Start here
--------------------------------------------------------------*/

@media only screen and (max-width: 428px){


  #body-temp18{
    padding: 0 8%;
  }

  #head18{
    position: relative;
    
  }

  #head18 h2 {
    font-size: 26px;
    font-weight: 700;
    color: #092358;
    margin-left: 34px;
    padding-top: 22%;
    font-family: "Raleway", sans-serif;
  }
  
  #head18 .arow-size {
    width: 18px;
    color: #205fb7;
    position: absolute;
    top: 70%;
    left: 6px;
  }

  .main-contain{
    padding-top: 45%;
  }

  .page-contain{

  }
  
  .page-contain h3{
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: #003060;
  }
  
  .page-contain p{
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    color: #003060;
    padding-top: 0px;
    padding-bottom: 44px;
  }

  .form-group{
    position: relative;
    padding-top: 10px;
  }

  input[type="text"].incolor2::-webkit-input-placeholder {
    font-size: 15px!important;
    font-weight: 500;
  }

  .form-group .form-control{
    display: block;
    width: 86%;
    margin-left: 7%;
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 3px solid #ced4da;
    appearance: none;
    border-radius: 18px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .finger-thamb{
    width: 24px;
  }

  .form-group .finger-action{
    position: absolute;
    color: #3d3a3b;
    top: 34%;
    left: 22%;
    font-size: 18px;
    font-weight: 500;
  }


}

@media only screen and (max-width: 414px){

  .form-group .finger-action {
    left: 20%;
    top: 37%;
}

}

@media only screen and (max-width: 393px){

  .form-group .finger-action {
    left: 18%;
    top: 38%;
}

}

@media only screen and (max-width: 375px){

  #head18 h2 {
    font-size: 22px;
    margin-left: 30px;
    padding-top: 22%;
}

#head18 .arow-size {
  width: 16px;
  color: #205fb7;
  position: absolute;
  top: 72%;
  left: 6px;
}

  .form-group .finger-action {
    position: absolute;
    color: #3d3a3b;
    top: 36%;
    left: 20%;
    font-size: 15px;
    font-weight: 500;
}
.finger-thamb {
  width: 24px;
}

.page-contain p {
  font-size: 11px;
  font-weight: 400;
  text-align: center;
  color: #003060;
  padding-top: 0px;
  padding-bottom: 38px;
}

.page-contain h3 {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  color: #003060;
}

.form-group .form-control {
  width: 86%;
  margin-left: 7%;
  padding-top: 16px;
  padding-bottom: 16px;
}

}





@media only screen and (max-width: 320px){


  #head18 .arow-size {
    width: 15px;
    color: #205fb7;
    position: absolute;
    top: 70%;
    left: 6px;
}

  .form-group .finger-action {
    position: absolute;
    color: #3d3a3b;
    top: 37%;
    left: 18%;
    font-size: 14px;
    font-weight: 500;
}

}

@media only screen and (max-width: 280px){
  
  #head18 h2 {
    font-size: 18px;
    margin-left: 30px;
    padding-top: 22%;
}

#head18 h2 {
  font-size: 18px;
  margin-left: 26px;
  padding-top: 22%;
}

#head18 .arow-size {
  width: 12px;
  color: #205fb7;
  position: absolute;
  top: 70%;
}

.page-contain h3 {
  font-size: 18px;
}

.page-contain p {
  font-size: 10px;
}

.form-group {
  padding-top: 8px;
}

.form-group .form-control {
  padding : 14px 0px;
}

.form-group .finger-action {
  font-size: 12px;
  top: 38%;
  left: 20%;
}

.finger-thamb {
  width: 18px;
}

}
/*--------------------------------------------------------------
# Css for the Page - 18
# Css End here
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Css for the Page - 27
# Css Start here
--------------------------------------------------------------*/

@media only screen and (max-width: 428px){

  #body-temp27{
    padding-left: 6%;
    padding-right: 6%;
  }


  #head27{
    position: relative;
    padding-top: 50px;
  }


  #head27 h2{
    position: absolute;
    top: 68%;
    left: 16%;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    color: #003060;
  }

  #head27 .arow-size{
    width : 14px; 
    position: relative;
    left: 4%;
  }

  #profile27 {
    width: 108%;
    margin-left: -4%;
    padding-top:10%
    
  }

  .property-card {
    border: none;
    min-height: 250px;
    background-color: #d7e2f2;
    padding: 40px 20px;
    border-radius: 15px;
  }

  .card-tittle{
    color: #092358;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: -1px;
  }

  .card-data{
    position: absolute;
    left: 15%;
    top :36%;
  }

  .card-img1{
    border: 1px solid #818181;
    border-radius: 50%;
  }

  .card-text{
    text-decoration: underline;
    font-size: 16px;
    font-weight: 500;
    padding-left: 6px;
    color: #003060;
  }

  .card-data2{
    position: absolute;
    top: 50%;
    left: 25%;
    font-size: 14px;
    font-weight: 400;
    color: #003060;
  }

  .card-data3{
    position: absolute;
    top: 62%;
    left: 28%;
    font-size: 26px;
    font-weight: 800;
    color: #003060;
  }

  .below-table h6{
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    color: #7c8694;
    margin-top: -5px;
  }

  .below-table2 h6{
    font-size: 14px;
    text-decoration: underline;
    font-weight: 500;
    color: #003060;
  }

  .below-table2 .doc-icon{
    width: 20px;
    margin-right: 5px; 
  }

  .below-border{
    padding: 2px; 
    background-color: #7c8694; 
    border-radius: 10px; 
    margin: 38px 0 30px;
  }

  .radio-list{
    color: #013060; 
    font-weight: bold; 
    font-size: 21px; 
    margin-bottom: 20px;
  }

  .radio-list-temp{
    padding-top: 10px;
  }

  .radio-list-data {
    padding-top: 20px;
  }
  .radio-list-data p{
    font-size: 18px;
  }

  .radio-list-data2{
    padding-top: 16px;
  }

   .active-data label{
    color: #7f7f7f!important;
  }

   .radio-list-data3{
    padding-top: 16px;
  }

  .p-button{
    margin-top: 30px;
    padding-top: 8%;
    left: 9%;
    position: absolute;
  }

  .profile-btn {
    background: #205fb7;
    border: 0;
    width: 160px;
    border-radius: 6px;
    padding: 8px;
    color: #fff;
    transition: 0.4s;
    margin-left: 10px;
    font-size: 18px!important;
  }


    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }

  [type="radio"]:checked+label,
  [type="radio"]:not(:checked)+label {
      position: relative;
      padding-left: 28px;
      cursor: pointer;
      line-height: 20px;
      display: inline-block;
      color: #0450a8;
  }

  [type="radio"]:checked+label:before,
  [type="radio"]:not(:checked)+label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 18px;
      height: 18px;
      border: 1px solid #749cd2;
      border-radius: 100%;
      background: #fff;
  }

  [type="radio"]:checked+label:after,
  [type="radio"]:not(:checked)+label:after {
      content: '';
      width: 12px;
      height: 12px;
      background: #4f81bd;
      position: absolute;
      top: 3px;
      left: 3px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
  }

  [type="radio"]:not(:checked)+label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
  }

  [type="radio"]:checked+label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
  }

}

@media only screen and (max-width: 414px){

    .p-button {
      left: 8%;
  }
}

@media only screen and (max-width: 393px){

    .p-button {
      left: 5%;
  }
}


@media only screen and (max-width: 375px){

  #head27{
    position: relative;
    padding-top: 50px;
  }


  #head27 h2{
    position: absolute;
    top: 68%;
    left: 16%;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    color: #003060;
  }

  #head27 .arow-size{
    width : 12px; 
    position: relative;
    left: 4%;
  }

  #profile27 {
    width: 108%;
    margin-left: -4%;
    padding-top:10%
    
  }

  .property-card {
    border: none;
    min-height: 240px;
    background-color: #d7e2f2;
    padding: 34px 17px;
    border-radius: 15px;
  }

  .card-tittle{
    font-size: 16px;
  }

  .card-data{
    position: absolute;
    left: 15%;
    top :36%;
  }

  .card-img1{
    border: 1px solid #818181;
    border-radius: 50%;
  }

  .card-text{
    text-decoration: underline;
    font-size: 14px;
    font-weight: 500;
    padding-left: 6px;
    color: #003060;
  }

  .card-data2{
    position: absolute;
    top: 50%;
    left: 25%;
    font-size: 13px;
    font-weight: 400;
    color: #003060;
  }

  .card-data3{
    position: absolute;
    top: 62%;
    left: 28%;
    font-size: 24px;
    font-weight: 800;
    color: #003060;
  }

  .below-table h6{
    font-size: 11px;
    text-align: center;
    font-weight: 500;
    color: #7c8694;
    margin-top: -5px;
  }

  .below-table2 h6{
    font-size: 13px;
    text-decoration: underline;
    font-weight: 500;
    color: #003060;
  }

  .below-table2 .doc-icon{
    width: 18px;
    margin-right: 5px; 
  }

  .below-border{
    padding: 2px; 
    background-color: #7c8694; 
    border-radius: 10px; 
    margin: 30px 0 30px;
  }

  .radio-list{
    color: #013060; 
    font-weight: bold; 
    font-size: 20px; 
    margin-bottom: 20px;
  }

  .radio-list-temp{
    padding-top: 10px;
  }

  .radio-list-data {
    padding-top: 20px;
  }
  .radio-list-data p{
    font-size: 16px;
  }

  .radio-list-data2{
    padding-top: 16px;
  }

   .active-data label{
    color: #7f7f7f!important;
  }

   .radio-list-data3{
    padding-top: 16px;
  }

  .p-button {
    margin-top: 30px;
    padding-top: 6%;
    left: 9%;
    position: absolute;
}

  [type="radio"]:checked+label,
  [type="radio"]:not(:checked)+label {
      position: relative;
      padding-left: 28px;
      cursor: pointer;
      line-height: 17px;
      display: inline-block;
      color: #0450a8;
  }

  [type="radio"]:checked+label:before,
  [type="radio"]:not(:checked)+label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 16px;
      height: 16px;
      border: 1px solid #749cd2;
      border-radius: 100%;
      background: #fff;
  }

  [type="radio"]:checked+label:after,
  [type="radio"]:not(:checked)+label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #4f81bd;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

 

.profile-btn {
  background: #205fb7;
  border: 0;
  width: 136px;
  border-radius: 6px;
  padding: 8px;
  color: #fff;
  transition: 0.4s;
  margin-left: 10px;
  font-size: 14px!important;
}

}

/* @media only screen and (max-width: 353px){
  .p-button {
    margin-top: 20px;
    padding-top: 8%;
    left: 3%;
    position: absolute;
}
} */


@media only screen and (max-width: 320px){
  #head27{
    position: relative;
    padding-top: 50px;
  }


  #head27 h2{
    position: absolute;
    top: 68%;
    left: 16%;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    color: #003060;
  }

  #head27 .arow-size{
    width : 10px; 
    position: relative;
    left: 4%;
  }

  #profile27 {
    width: 108%;
    margin-left: -4%;
    padding-top:10%
    
  }

  .property-card {
    border: none;
    min-height: 230px;
    background-color: #d7e2f2;
    padding: 34px 17px;
    border-radius: 15px;
  }

  .card-tittle{
    font-size: 15px;
  }

  .card-data{
    position: absolute;
    left: 15%;
    top :36%;
  }

  .card-img1{
    border: 1px solid #818181;
    border-radius: 50%;
  }

  .card-text{
    text-decoration: underline;
    font-size: 13px;
    font-weight: 500;
    padding-left: 6px;
    color: #003060;
  }

  .card-data2{
    position: absolute;
    top: 50%;
    left: 27%;
    font-size: 12px;
    font-weight: 400;
    color: #003060;
  }

  .card-data3{
    position: absolute;
    top: 62%;
    left: 28%;
    font-size: 22px;
    font-weight: 800;
    color: #003060;
  }

  .below-table h6{
    font-size: 10px;
    text-align: center;
    font-weight: 500;
    color: #7c8694;
    margin-top: -5px;
  }

  .below-table2 h6{
    font-size: 13px;
    text-decoration: underline;
    font-weight: 500;
    color: #003060;
  }

  .below-table2 .doc-icon{
    width: 17px;
    margin-right: 5px; 
  }

  .below-border{
    padding: 2px; 
    background-color: #7c8694; 
    border-radius: 10px; 
    margin: 25px 0 25px;
  }

  .radio-list{
    color: #013060; 
    font-weight: bold; 
    font-size: 16px; 
    margin-bottom: 18px;
  }

  .radio-list-temp{
    padding-top: 10px;
  }

  .radio-list-data {
    padding-top: 16px;
  }
  .radio-list-data p{
    font-size: 14px;
  }

  .radio-list-data2{
    padding-top: 16px;
  }

   .active-data label{
    color: #7f7f7f!important;
  }

   .radio-list-data3{
    padding-top: 16px;
  }

  .p-button {
    margin-top: 30px;
    padding-top: 6%;
    left: 6%;
    position: absolute;
}

.profile-btn {
  background: #205fb7;
  border: 0;
  width: 126px;
  border-radius: 6px;
  padding: 7px;
  color: #fff;
  transition: 0.4s;
  margin-left: 10px;
  font-size: 12px;
}

  [type="radio"]:checked+label,
  [type="radio"]:not(:checked)+label {
      position: relative;
      padding-left: 28px;
      cursor: pointer;
      line-height: 15px;
      display: inline-block;
      color: #0450a8;
  }

  [type="radio"]:checked+label:before,
  [type="radio"]:not(:checked)+label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 14px;
      height: 14px;
      border: 1px solid #749cd2;
      border-radius: 100%;
      background: #fff;
  }

  [type="radio"]:checked+label:after,
  [type="radio"]:not(:checked)+label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #4f81bd;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

}


/* @media only screen and (max-width: 393px){

  .p-button {
    margin-top: 20px;
    padding-top: 8%;
    left: 6%;
    position: absolute;
}

.profile-btn {
  background: #205fb7;
  border: 0;
  width: 154px;
  border-radius: 6px;
  padding: 8px;
  color: #fff;
  transition: 0.4s;
  margin-left: 10px;
  font-size: 16px!important;
}

} */




@media only screen and (max-width: 280px){

  #head27 h2{
    position: absolute;
    top: 71%;
    left: 18%;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    color: #003060;
  }

  #head27 .arow-size{
    width : 10px; 
    position: relative;
    left: 4%;
  }

  #profile27 {
    width: 108%;
    margin-left: -4%;
    padding-top:10%
    
  }

  .property-card {
    border: none;
    min-height: 186px;
    background-color: #d7e2f2;
    padding: 34px 17px;
    border-radius: 15px;
  }

  .card-tittle{
    font-size: 13px;
  }

  .card-data{
    position: absolute;
    left: 14%;
    top :36%;
  }

  .card-img1{
    border: 1px solid #818181;
    border-radius: 50%;
    width: 13px;
  }

  .card-text{
    text-decoration: underline;
    font-size: 11px;
    font-weight: 500;
    padding-left: 5px;
    color: #003060;
  }

  .card-data2{
    position: absolute;
    top: 49%;
    left: 26%;
    font-size: 11px;
    font-weight: 400;
    color: #003060;
  }

  .card-data3{
    position: absolute;
    top: 60%;
    left: 28%;
    font-size: 20px;
    font-weight: 800;
    color: #003060;
  }

  .below-table h6{
    font-size: 9px;
    text-align: center;
    font-weight: 500;
    color: #7c8694;
    margin-top: -5px;
  }

  .below-table2 h6{
    font-size: 12px;
    text-decoration: underline;
    font-weight: 500;
    color: #003060;
  }

  .below-table2 .doc-icon{
    width: 16px;
    margin-right: 5px; 
  }

  .below-border{
    padding: 1.5px;
    background-color: #7c8694;
    border-radius: 10px;
    margin: 20px 0 20px;
  }

  .radio-list{
    color: #013060; 
    font-weight: bold; 
    font-size: 15px; 
    margin-bottom: 18px;
  }

  .radio-list-temp{
    padding-top: 10px;
  }

  .radio-list-data {
    padding-top: 10px;
  }
  .radio-list-data p{
    font-size: 14px;
    padding-top: 10px;
  }

  .radio-list-data2{
    padding-top: 16px;
  }

   .active-data label{
    color: #7f7f7f!important;
  }

   .radio-list-data3{
    padding-top: 16px;
  }

  .p-button {
    margin-top: 20px;
    padding-top: 6%;
    left: 3%;
    position: absolute;
}

.profile-btn {
  background: #205fb7;
  border: 0;
  width: 116px;
  border-radius: 6px;
  padding: 7px;
  color: #fff;
  transition: 0.4s;
  margin-left: 10px;
  font-size: 11px!important;
}

  [type="radio"]:checked+label,
  [type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 26px;
    cursor: pointer;
    line-height: 14px;
    display: inline-block;
    color: #0450a8;
  }

  [type="radio"]:checked+label:before,
  [type="radio"]:not(:checked)+label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 14px;
      height: 14px;
      border: 1px solid #749cd2;
      border-radius: 100%;
      background: #fff;
  }


}

/*--------------------------------------------------------------
# Css for the Page - 27
# Css End here
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Css for the loading Page
# Css Start here
--------------------------------------------------------------*/




.rotate1 {
  animation: rotation1 2.2s infinite linear;
}

@keyframes rotation1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.rotate2 {
  animation: rotation1 4.5s infinite linear;
}

@keyframes rotation2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}



@media only screen and (max-width: 428px){

  #body-temp30{
    padding-left: 9%;
    padding-right: 9%;
  }

  #head1 h2 {
    font-size: 23px;
    font-weight: 600;
    color: #092358;
    margin-left: 32px;
    padding-top: 22%;
}

  .body-content{
    position: relative;
  }

  .loader{
    text-align: center; 
    padding-top: 94%;
  }

  .rotate-image1{
    position: absolute;
    width: 28%;
    top: 50%;
    left: 34%;
  }
  
  .rotate-image2{
    position: absolute;
    width: 28%;
    top: 50%;
    left: 34%;
  }

  .loader h6{
    color: #003060;
    line-height: 1.3;
    font-size: 17px;
    font-weight: 500;
  }

}

@media only screen and (max-width: 375px){

  #body-temp30{
    padding-left: 9%;
    padding-right: 9%;
  }

  #head1 h2 {
    font-size: 20px;
    font-weight: 600;
    color: #092358;
    margin-left: 32px;
    padding-top: 22%;
}

#head1 .arow-size {
  width: 14px;
  color: #205fb7;
  position: absolute;
  top: 72%;
  left: 6px;
}

  .body-content{
    position: relative;
  }

  .loader{
    text-align: center; 
    padding-top: 94%;
  }

  .rotate-image1{
    position: absolute;
    width: 28%;
    top: 48%;
    left: 36%;
  }
  
  .rotate-image2{
    position: absolute;
    width: 28%;
    top: 48%;
    left: 36%;
  }

  .loader h6{
    color: #003060;
    line-height: 1.3;
    font-size: 17px;
    font-weight: 500;
  }

}

@media only screen and (max-width: 320px){
  #head1 h2 {
    font-size: 18px;
    font-weight: 600;
    color: #092358;
    margin-left: 32px;
    padding-top: 22%;
}

#head1 .arow-size {
  width: 13px;
  color: #205fb7;
  position: absolute;
  top: 70%;
  left: 8px;
}

  .rotate-image1{
    position: absolute;
    width: 28%;
    top: 48%;
    left: 36%;
  }
  
  .rotate-image2{
    position: absolute;
    width: 28%;
    top: 48%;
    left: 36%;
  }

.loader h6 {
  color: #003060;
  line-height: 1.3;
  font-size: 15px;
  font-weight: 500;
}



}


@media only screen and (max-width: 280px){
  #head1 h2 {
    font-size: 15px;
    font-weight: 600;
    color: #092358;
    margin-left: 32px;
    padding-top: 22%;
}

#head1 .arow-size {
  width: 11px;
  color: #205fb7;
  position: absolute;
  top: 71%;
  left: 14px;
}

.loader h6 {
  color: #003060;
  line-height: 1.3;
  font-size: 12px;
  font-weight: 500;
}

}


@media only screen and (max-width: 375px){}





